.timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid $color-grey-5);
}

.timeline .timeline-item .timeline-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: $color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline .timeline-item .timeline-duration {
  background-color: $color-grey-5);
  padding: 0.2rem 6rem;
  border: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline .timeline-item h5 span {
  color: $color-grey-2);
  font-size: 1.2rem;
  font-weight: 500;
}

.timeline .timeline-item p {
  color: $color-grey-2);
}
