// timeline
.timeline {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	padding-bottom: 3rem;
	.timeline-item {
		position: relative;
		padding-left: 3rem;
		border-left: 1px solid $color-grey-5;

		.timeline-icon {
			position: absolute;
			left: -27px;
			top: 0;
			background-color: $color-secondary;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.timeline-duration {
			background-color: $color-grey-5;
			padding: 0.2rem 6rem;
			border: 15px;
			display: inline-block;
			font-size: 0.8rem;
			text-transform: uppercase;
			font-weight: 500;
		}

		h5 {
			padding: 1rem 0;
			text-transform: uppercase;
			font-size: 1.3rem;
			font-weight: 600;

			span {
				color: $color-grey-2;
				font-size: 1.2rem;
				font-weight: 500;
			}
		}

		p {
			color: $color-grey-2;
		}
	}
}
